/* html {
    font-size:16px;
}
.parent{
    font-size:20px;
}
.em-text{
    font-size:2em;
}
.rem-text{
    font-size:2rem;
} */
 .box{
    width:200px;
    margin: 0 auto;
    height:200px;
    background-color:bisque;
    text-align:center;
    border:2px solid brown;
 }